<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <!-- add_dish.html -->

<h1>Add a New Dish</h1>
<form method="POST" action="{{ url_for('add_dish') }}">
  <label for="dish_name">Dish Name:</label>
  <input type="text" id="dish_name" name="dish_name" required><br>

  <label for="price">Price:</label>
  <input type="number" id="price" name="price" min="0" step="0.01" required><br>

  <label for="availability">Availability:</label>
  <select id="availability" name="availability" required>
    <option value="True">Yes</option>
    <option value="False">No</option>
  </select><br>

  <input type="submit" value="Add Dish">
</form>

</body>
</html>